@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/opensans-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-extrabold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;

  font-family: 'OpenSans-Light', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: #000000;

  background-color: #ffffff;
  
}

a {
  text-decoration: none;
}

/* HEADER */

.main-nav {
  color: #000000;

  background-color: #f7e296;
}

.main-nav li {
  list-style: none;
}

.main-nav a {
  color: #000000;
}

.main-nav a:hover,
.main-nav a:focus {
  opacity: 0.6;
}

.main-nav a:active {
  opacity: 0.3;
}


.header-search-input {
  color: #000000;
  opacity: 0.3;
  
  background-color: #f7e296;
}

.header-search-input:hover {
  opacity: 0.6;
}

.header-search-input:focus {
  opacity: 1;
}

.site-nav-title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px; 
  font-weight: bold;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}