@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/opensans-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-extrabold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;

  font-family: 'OpenSans-Light', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: #000000;

  background-color: #ffffff;
  
}

a {
  text-decoration: none;
}

.button {
  color: #000000;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18.5px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  letter-spacing: 3.7px;
  text-transform: uppercase;

  background-color: #f0c52e;
  border: 0;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* HEADER */

.main-nav {
  color: #000000;

  background-color: #f7e296;
}

.main-nav li {
  list-style: none;
}

.main-nav a {
  color: #000000;
}

.main-nav a:hover,
.main-nav a:focus {
  opacity: 0.6;
}

.main-nav a:active {
  opacity: 0.3;
}


.header-search-input {
  color: #000000;
  opacity: 0.3;
  
  background-color: #f7e296;
}

.header-search-input:hover {
  opacity: 0.6;
}

.header-search-input:focus {
  opacity: 1;
}

.site-nav-title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px; 
  font-weight: bold;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

/* INDEX MAIN */

.about h2,
.contacts h2 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47.5px;
  font-weight: bold;
  line-height: 47.5px;
  letter-spacing: 0.5px;
  color: #000000;
}

.about p,
.contacts p {
  color: #464646;
}

.about li {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  color: #000000;
}

.map {
  background-color: #cccccc;
}

/* PRODUCTS MAIN */

main h1 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47.5px;
  font-weight: bold;
  line-height: 47.5px;
  letter-spacing: 0.5px;
}

.crumbs li {
  list-style: none;
}

.crumbs {
  font-family: 'OpenSans-Light', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.3);
}

.crumbs a {
  font: inherit;
  color: rgba(0, 0, 0, 0.3);
}

.crumbs a:hover,
.crumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.crumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

/* PRODUCTS FILTERS */

.filters {
  color: #000000;

  background-color: #EFEEEF;
}

.filters legend {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.filters li {
  list-style: none;
}

.filters label {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.1px;
}

/* PRODUCTS CATALOG */

.catalog-item h3 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.catalog-item {
  list-style: none;
}

.catalog-item a {
  color: #000000;
}

.catalog-item .price {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: right;
  color: #464646;
}

.catalog-item img {
  background-color: #cccccc;
}

/* FOOTER */

.main-footer {
  color: #ffffff;

  background-color: #464646;
}

.main-footer li {
  list-style: none;
}

.footer-nav a,
.footer-social a {
  color: #ffffff;
}

.footer-contacts {
  letter-spacing: normal;
}

.services-nav-footer {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.services-nav-footer a:hover,
.services-nav-footer a:focus,
.footer-logo:hover,
.footer-logo:focus,
.credentials-logo:hover,
.credentials-logo:focus {
  opacity: 0.6;
}

.services-nav-footer a:active,
.footer-logo:active,
.credentials-logo:active {
  opacity: 0.3;
}

.user-nav-footer a,
.footer-social a {
  opacity: 0.7;
}

.user-nav-footer a:hover,
.user-nav-footer a:focus,
.footer-social a:hover,
.footer-social a:focus {
  opacity: 1;
}

.user-nav-footer a:active,
.footer-social a:active {
  opacity: 0.3;
}

/* MODAL FEEDBACK */

.modal-feedback label {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 17.5px;
  font-weight: bold;
  line-height: 24.5px;
  letter-spacing: normal;
  color: #000000;
}

.modal-feedback input,
.modal-feedback textarea {  
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #464546;

  background-color: #F2F1F2;
  border: 3px solid transparent;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {  
  background-color: #EAE9EA;
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {  
  background-color: #ffffff;
  border-color: #f0c52e;
}