@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/opensans-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-extrabold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;

  font-family: 'OpenSans-Light', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: #000000;

  background-color: #ffffff;
  
}

a {
  text-decoration: none;
  color: #000000;
}

.button {
  position: relative;
  z-index: 1;

  width: 260px;
  height: 31px;
  padding-top: 9px; /* REFACTOR UTILISING VERTICAL ALIGNMENT */

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
  
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.button::before {
  position: absolute;
  top: 16px; /* REFACTOR IT */
  left: 0px;
  content: "";

  z-index: -1;
  
  width: 100%;
  height: 8px;
  
  background-color: #f0c52e;
}

.button:hover::before {
  top: 0px; /* REFACTOR IT */
  
  height: 40px;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* NAVIGATION LINK ICONS */

.with-icon-user-dark {
  position: relative;

  padding-left: 27px;
}

.with-icon-user-dark::before {
  
  position: absolute;
  top: 4px;
  left: 0px;
  content: "";
  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.with-icon-compare-dark {
  position: relative;

  padding-left: 19px;
}

.with-icon-compare-dark::before {
  
  position: absolute;
  top: 6px;
  left: 0px;
  content: "";
  width: 10px;
  height: 10px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.with-icon-cart-dark {
  position: relative;

  padding-left: 23px;
}

.with-icon-cart-dark::before {
  position: absolute;
  top: 4px;
  left: 0px;
  content: "";
  width: 12px;
  height: 12px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

/* HEADER */

.main-header {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 10px;
}

.header-logo {
  display: block;
  position: absolute;
  top: -17px;
}

.header-logo img {
  display: block;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .row {
  margin: 33px 0 31px 0;
}

.main-nav {
  position: relative;

  min-height: 186px; /* TEMPORARY SOLUTION; REFACTOR BEFORE SUBMITTING */
  padding: 0 57px 0 60px;

  color: #000000;

  background-color: #f7e296;
}


.main-nav li {
  list-style: none;
}

.main-nav a {
  color: #000000;
}

.main-nav a:hover,
.main-nav a:focus {
  opacity: 0.6;
}

.main-nav a:active {
  opacity: 0.3;
}

.header-search {
  display: flex;
  align-items: center;
  width: 441px;
  margin: 0 99px 0 0;
}

/* .header-search:hover .header-search-input, */
.header-search:focus-within .header-search-input {
  border-bottom: 2px solid#000000;
}

/* .header-search:hover .header-search-button, */
.header-search:focus-within .header-search-button {
  display: block;
}

.header-search-input {
  width: 360px;
  padding: 0px 14px 0px 38px; 
  height: 41px;

  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.3);
  
  background: url("../img/search.svg") no-repeat 3px 52%;
  background-color: #f7e296;
  border: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;

}

.header-search-input:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-search-input:focus {
  color: #000000;
}

.header-search-button {
  display: none;

  flex-grow: 0;
  width: 81px;
  height: 45px;
  padding: 0px;

  background-color: #f7e296;
  border: 2px solid #000000;
}

.header-search-button:hover,
.header-search-button:focus {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.5);
}

.header-search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.25);
}

.user-nav,
.shop-nav {
  display: flex;
  margin: 0;
  padding: 0;
}

.user-nav-header {
  margin-right: auto;
}

.user-nav-footer {
  margin-right: 44px;
}

.user-nav li {
  margin-right: 19px;
}

.user-nav li:last-child {
  margin-right: 0px;
}

.user-nav-header > li > a.dimmed {
  color: rgba(0, 0, 0, 0.3);
}

.shop-nav {
  width: 212px;
  justify-content: space-between;
}
.shop-nav-header {
  padding-right: 3px;
}

.site-nav-title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px; 
  font-weight: bold;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.site-nav {

  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
}

.site-nav > li {
  margin-right: 34px;
}
.site-nav > li:last-child {
  margin-right: 0px;
}

.push-right {
  margin-left: auto;
  text-align: right;
}

.site-nav li.nav-dropdown {
  width: 260px;
  margin-right: 280px;
  cursor: pointer;
}
.nav-dropdown > a{
  padding-right: 28px;
  background: url("../img/plus.svg") no-repeat right 50%;
}


.nav-dropdown:focus-within .nav-dropdown-inner,
.nav-dropdown:hover .nav-dropdown-inner {
  display: flex;
}

.nav-dropdown-inner {
  
  display: none; /* FLEX WHEN DROPDOWN */
  position: absolute;
  left: -60px;
  width: 1100px;
  min-height: 140px;
  margin: 0;
  padding: 18px 0 0 60px;

  background-color: #f7e296;
}

.nav-dropdown-inner ul {
  min-width: 143px;
  margin: 0 58px 0 0;
  padding: 0;
}

.nav-dropdown-inner a {
  font-size: 15px;
  line-height: 36px;
}

/* INDEX MAIN */

.popular-categories > ul {
  display: flex;
  justify-content: space-between;
  height: 322px;
  margin: 0px;
  padding: 0px 10px;
  list-style: none;
}

.popular-categories li {
  display: block;
  width: 160px;
  height: 160px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px; 
  font-weight: bold;
  letter-spacing: 0.2px;
}

.popular-categories img {
  background-color: #f7e296;
  margin-bottom: 28px;
}

.popular-categories a:hover img,
.popular-categories a:focus img {
  background-color: #f0c52e;
}

.popular-categories a:active img {
  background-color: #f0c52e;
  opacity: 0.3;
}

.popular-categories a {
  display: block;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  padding: 0 10px;
}

.index-columns section {
  
  display: flex;
  position: relative;
  flex-direction: column;
}

.index-columns section::before {

  position: absolute;
  top: 0px;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.index-columns .about {
  width: 475px; /* ROUND? */
}

.index-columns .contacts {
  width: 560px;
}

.index-columns h2 {
  margin-top: 60px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47.5px;
  font-weight: bold;
  color: #000000;
}

.index-columns p {
  color: #464646;
  letter-spacing: 0px;
}

.about ul {
  margin-top:50px;
  margin: 50px 0 55px 0;
  padding: 0;
}

.about li {
  position: relative;
  font-family: 'Gilroy', Arial, sans-serif;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  color: #000000;
  padding-left: 34px;
}


.about li::before { /* BULLET MARKER */
  position: absolute;
  top: 45%;
  left: 0px;
  content: "";
  width: 5px;
  height: 5px;
  border: 1px solid #e5e5e5;
  border-radius: 50%;

}

.index-columns .button {
  margin-top: auto; /* PUSH TO BOTTOM */
  align-self: flex-start;
  color: #464646;
}

.index-columns .map {
  margin-top: 22px;
  background-color: #cccccc;
}

/* PRODUCTS MAIN */
main.page-catalog {
  width: 100%;
}

main h1 {
  margin: 0;
  margin-top: 38px;
  margin-left: 60px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 0.5px;
}


.crumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 45px;
  margin-left: 60px;
  
  list-style: none;
  font-family: 'OpenSans-Light', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.crumbs li {
  position: relative;

  margin-right: 37px;
}

.crumbs li:last-child {
  margin-right: 0;
}
.crumbs li:last-child::after {
  display: none;
}

.crumbs li::after {
  content: "";

  position: absolute;
  top: 9px;
  right: -20px;

  width: 4px;
  height: 7px;

  background-color: #ffffff;
  background-image: url('../img/nav-arrow.svg');
}

.crumbs a {
  font: inherit;
  color: rgba(0, 0, 0, 0.3);
}

.crumbs a:hover,
.crumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.crumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

/* PRODUCTS CATALOG */
.container {
  width: 1160px;
  margin: 0 auto;
}

.stretch {
  display: flex;
  justify-content: center;
  width: 100%;
}

.filters-caption {  
  flex-grow: 0;
  width: 328px;
  margin: 0;
  
  background-color: #DBDADB;
}

.filters-caption-stretcher {
  flex-grow: 1;

  background-color: #DBDADB;
}

.sorting {
  width: 832px;

  background-color: #EFEEEF;
}

.sorting-stretcher {
  flex-grow: 1;

  background-color: #EFEEEF;
}

.filters {
  flex-grow: 0;
  width: 328px;

  color: #000000;

  background-color: #EFEEEF;
}

.filters-stretcher {
  flex-grow: 1;

  background-color: #EFEEEF;
}

.filters legend {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.filters li {
  list-style: none;
}

.filters label {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.1px;
}

/* PRODUCTS CATALOG */

.catalog {
  flex-grow: 0;
  width: 832px;
}

.catalog-stretcher {
  flex-grow: 1;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item h3 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.catalog-item {
  width: 360px;

  list-style: none;
}

.catalog-item a {
  color: #000000;
}

.catalog-item .price {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: right;
  color: #464646;
}

.catalog-item img {
  background-color: #cccccc;
}

/* FOOTER */

.main-footer {
  width: 100%;
  min-height: 323px;
  padding-top: 65px;

  color: #ffffff;

  background-color: #464646;
}

.main-footer li {
  list-style: none;
}

.main-footer .container {
  padding: 0 10px;
}

.footer-nav a,
.footer-social a {
  color: #ffffff;
}

.services-nav-footer {
  display: flex;
  order: 2;
  justify-content: space-between;
  width: 430px;
  padding: 0px;
  margin: 0px;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.footer-contacts-address {
  order: 1;
}

.footer-contacts-phone {
  order: 3;

  text-align: end;
}

.footer-contacts {
  width: 210px;
  letter-spacing: normal;
}


.services-nav-footer a:hover,
.services-nav-footer a:focus,
.footer-logo:hover,
.footer-logo:focus,
.credentials-logo:hover,
.credentials-logo:focus {
  opacity: 0.6;
}

.services-nav-footer a:active,
.footer-logo:active,
.credentials-logo:active {
  opacity: 0.3;
}

.user-nav-footer a {
  opacity: 0.7;
}

.user-nav-footer a:hover,
.user-nav-footer a:focus {
  opacity: 1;
}

.user-nav-footer a:active {
  opacity: 0.3;
}

.user-nav-footer {
  display: flex;
  margin-left: auto;
}

.main-footer .row-footer-usernav {
  align-items: flex-start;
}
.main-footer .row-footer-services {
  padding-top: 6px;
}

.row-footer-social {
  margin-top: 45px;
}

.row-footer-social::before {
  content: "";
  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  width: 142px;
  margin: 0px;
  padding: 0px;
}

.footer-social a {
  opacity: 0.3;
}

.footer-social a:hover,
.footer-social a:focus {
  opacity: 0.6;
}

.footer-social a:active {
  opacity: 0.1;
}

.credentials-logo img {
  margin-left: 53px;
}

/* MODAL FEEDBACK */

.modal-feedback label {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 17.5px;
  font-weight: bold;
  line-height: 24.5px;
  letter-spacing: normal;
  color: #000000;
}

.modal-feedback input,
.modal-feedback textarea {  
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #464546;

  background-color: #F2F1F2;
  border: 3px solid transparent;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {  
  background-color: #EAE9EA;
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {  
  background-color: #ffffff;
  border-color: #f0c52e;
}

/* DUMMY BLOCKS */

.dummy-promo {
  height: 487px;
  margin-bottom: 106px;
  background: url('../img/slider-1.png') no-repeat 100px 2px;
}

.dummy-services {
  height: 288px;
  margin-top: 100px;
  background-color: #e5e5e5;
}

.brands ul {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 96px 10px 93px 10px;
  list-style: none;
}

.brands li {
  display: block;
  width: 260px;
  height: 100px;

  background-color: #e5e5e5;
  filter: grayscale(100%);
  opacity: 0.2;
}

.brands li:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.index-columns {
  min-height: 540px; /* TEMPORARY FOR PIXEL-PERFECT CHECK */
  padding-bottom: 83px;
}