@font-face {
  font-family: 'OpenSans';
  src:
    url('../fonts/opensans-regular.woff2') format('woff2'),
    url('../fonts/opensans-regular.woff') format('woff'),
    url('../fonts/opensans-regular.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src:
    url('../fonts/opensans-light.woff2') format('woff2'),
    url('../fonts/opensans-light.woff') format('woff'),
    url('../fonts/opensans-light.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src:
    url('../fonts/gilroy-extrabold.woff2') format('woff2'),
    url('../fonts/gilroy-extrabold.woff') format('woff'),
    url('../fonts/gilroy-extrabold.eot') format('eot');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src:
    url('../fonts/gilroy-light.woff2') format('woff2'),
    url('../fonts/gilroy-light.woff') format('woff'),
    url('../fonts/gilroy-light.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 1180px;
  margin: 0;

  font-family: 'OpenSans-Light', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

.button {
  position: relative;
  z-index: 1;
  display: inline-block;
  
  width: 260px;
  height: 40px;
  
  font-family: 'Gilroy-ExtraBold', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
  
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.button::before {
  position: absolute;
  top: 16px;
  left: 0;
  content: '';

  z-index: -1;
  
  width: 100%;
  height: 8px;
  
  background-color: #f0c52e;
}

.button a {
  margin: auto 0;
}

.button:hover::before,
.button:focus::before,
.button:active::before {
  top: 0;
  
  height: 40px;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* NAVIGATION LINK ICONS */

.with-icon-user {
  position: relative;

  padding-left: 27px;
}

.with-icon-user::before {
  
  position: absolute;
  top: 4px;
  left: 0;
  content: '';
  width: 13px;
  height: 12px;

  background-image: url('../img/user.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.with-icon-user-light::before {
  background-image: url('../img/user-light.svg');
}

.with-icon-user:hover::before,
.with-icon-user:focus::before {
  opacity: 0.6;
}

.with-icon-user:active::before {
  opacity: 0.3;
}

.with-icon-compare {
  position: relative;

  padding-left: 19px;
}

.with-icon-compare::before {
  
  position: absolute;
  top: 6px;
  left: 0;
  content: '';
  width: 10px;
  height: 10px;

  background-image: url('../img/compare.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.with-icon-compare-light::before {
  background-image: url('../img/compare-light.svg');
}

.with-icon-compare:hover::before,
.with-icon-compare:focus::before {
  opacity: 0.6;
}

.with-icon-compare:active::before {
  opacity: 0.3;
}

.with-icon-cart {
  position: relative;

  padding-left: 23px;
}

.with-icon-cart::before {
  position: absolute;
  top: 4px;
  left: 0;
  content: '';
  width: 12px;
  height: 12px;

  background-image: url('../img/cart.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.with-icon-cart-light::before {
  background-image: url('../img/cart-light.svg');
}

.with-icon-cart:hover::before,
.with-icon-cart:focus::before {
  opacity: 0.6;
}

.with-icon-cart:active::before {
  opacity: 0.3;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* HEADER */

.main-header {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 10px;
}

.header-logo[href]:hover,
.header-logo[href]:focus {
  opacity: 0.6;
}

.header-logo[href]:active {
  opacity: 0.3;
}

.header-logo {
  display: block;
  position: absolute;
  top: -19px;
  left: 58px;
}

.header-logo img {
  display: block;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .row {
  margin: 35px 0 29px 0;
}

.main-nav {
  position: relative;

  min-height: 186px;
  padding: 0 57px 0 60px;

  color: #000000;

  background-color: #f7e296;
}

.main-nav li {
  list-style: none;
}

.main-nav a {
  color: #000000;
}

.main-nav a:hover,
.main-nav a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-search {
  display: flex;
  align-items: center;
  width: 441px;
  margin: 0 99px 0 0;
}

.header-search-input {
  width: 360px;
  padding: 0 14px 0 38px;
  height: 41px;

  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.3);
  
  background: url('../img/search.svg') no-repeat 3px 52%;
  background-color: #f7e296;
  border: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.header-search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.header-search-input:hover,
.header-search-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.header-search-input:focus,
.header-search-input:focus::placeholder {
  color: #000000;
}

.header-search:focus-within .header-search-input {
  border-bottom: 2px solid#000000;
}

.header-search-button {
  display: none;

  flex-grow: 0;
  width: 81px;
  min-height: 45px;
  padding: 0;

  background-color: #f7e296;
  border: 2px solid #000000;

  cursor: pointer;
}

.header-search-button:hover,
.header-search-button:focus {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.5);
}

.header-search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.25);
}

.header-search:focus-within .header-search-button {
  display: block;
}

.user-nav,
.shop-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.user-nav-header {
  margin-right: auto;
}

.user-nav-footer {
  display: flex;
  margin-right: 44px;
  margin-left: auto;
}

.user-nav li {
  margin-right: 19px;
}

.user-nav li:last-child {
  margin-right: 0;
}

.user-nav-header > li > a.dimmed {
  color: rgba(0, 0, 0, 0.3);
}

.shop-nav {
  width: 212px;
  justify-content: space-between;
}

.shop-nav-header {
  padding-right: 3px;
}

.site-nav-title {
  font-family: 'Gilroy-ExtraBold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.site-nav {

  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.site-nav > li {
  margin-right: 34px;
}

.site-nav > li:last-child {
  margin-right: 0;
}

.push-right {
  flex-grow: 1;
  text-align: right;
}

.site-nav li.nav-dropdown {
  width: 260px;
  margin-right: 280px;
  cursor: pointer;
}

.nav-dropdown > a {
  padding-right: 28px;
  background: url('../img/plus.svg') no-repeat right 50%;
}

.nav-dropdown:hover .nav-dropdown-inner {
  display: flex;
}

.nav-dropdown:focus-within .nav-dropdown-inner {
  display: flex;
}

.nav-dropdown-inner {
  position: absolute;
  display: none; /* FLEX WHEN DROPDOWN */
  z-index: 2;

  left: -60px;
  width: 1100px;
  min-height: 142px;
  margin: 0;
  padding: 18px 0 0 60px;

  background-color: #f7e296;
}

.nav-dropdown-inner ul {
  min-width: 143px;
  margin: 0 58px 0 0;
  padding: 0;
}

.nav-dropdown-inner a {
  font-size: 15px;
  line-height: 36px;
}

.nav-dropdown-inner hr {
  height: 100%;
  width: 0;
  margin: 0;
  padding: 0;
  border: none;
}

/* INDEX MAIN */
.slider {
  position: relative;
  min-height: 500px;
  margin-bottom: 12px;
  z-index: 1;

  background-color: #f7e296;
  background-image:
    linear-gradient(
      to bottom,
      #f7e296,
      #f7e296 19.3%,
      #ffffff 19.3%
    );
}

.slider-controls {
  position: absolute;
  z-index: 3;
  top: 320px;
  right: 76px;
}

.slider-controls i {
  position: relative;

  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 8px;

  border-radius: 50%;
  vertical-align: top;
  cursor: pointer;
}

.slider-controls i::after {
  content: '';
  
  position: absolute;

  width: 10px;
  height: 10px;

  border: 1px solid #060506;
  border-radius: 50%;

  background-color: transparent;
}

.slider-controls .current::before {
  content: '';
  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  width: 3px;
  height: 3px;

  border: 1px solid #060506;
  border-radius: 50%;

  background-color: transparent;
}

.slider-list {
  margin: 0;
  padding: 0;
  padding-right: 50px;
  
  list-style: none;
}

.slider-item {
  display: none;
  position: relative;
  z-index: 2;
  min-height: 500px;
  padding-left: 599px;
  padding-top: 82px;
}

.slider-item::before {
  content: ''; /* FILLED BY .slider-item:nth-child */
  position: absolute;
  z-index: -1;
  top: -12px;
  right: -4px;

  font-family: 'Gilroy-ExtraBold', Arial, sans-serif;
  font-size: 179px;
  line-height: 1;
  font-weight: 800;
  letter-spacing: 1.8px;

  color: #ffffff;
}

.slider-item::after {
  content: '';
  position: absolute;
  top: 40px;
  right: 410px;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.slider-item:nth-child(1) {
  display: block;
  background-image: url('../img/slider-1.png');
  background-repeat: no-repeat;
  background-position: 90px 2px;
}

.slider-item:nth-child(2) {
  background-image: url('../img/slider-2.png');
  background-repeat: no-repeat;
  background-position: 115px 15px;
}

.slider-item:nth-child(3) {
  background-image: url('../img/slider-3.png');
  background-repeat: no-repeat;
  background-position: 31px 67px;
}

.slider-item:nth-child(1)::before {
  content: '01';
}

.slider-item:nth-child(2)::before {
  content: '02';
}

.slider-item:nth-child(3)::before {
  content: '03';
}

.slider-item h3 {
  margin: 0;
  margin-bottom: 18px;

  font-family: 'Gilroy-ExtraBold', Arial, sans-serif;
  font-size: 47.5px;
  line-height: 56px;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.slider-item p {
  margin: 0;
  margin-bottom: 43px;
}

.slider-item .button {
  width: 220px;
  margin-left: 1px;
  margin-bottom: 48px;
}

.product-features {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-feature {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 78px;
}

.product-feature:last-child {
  margin-right: 0;
}

.product-feature-name {
  font-family: 'OpenSans-Light', Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.1px;
}

.product-feature-value {
  margin-bottom: 9px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 0.4px;
}

.popular-categories > ul {
  display: flex;

  width: 1160px;
  margin: 0;
  padding: 0;

  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;
}

.popular-categories li {
  display: block;

  width: 160px;
  min-height: 250px;

  font-family: 'Gilroy-ExtraBold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.popular-category-link {
  position: relative;
  display: block;
}

.popular-category-link::before {
  content: '';
  position: absolute;
  display: block;
  z-index: -1;

  width: 160px;
  height: 160px;

  background-color: #f7e296;
}

.popular-category-link:hover::before,
.popular-category-link:focus::before,
.popular-category-link:active::before {
  background-color: #f0c52e;
}

.popular-category-link img {
  margin-bottom: 28px;
}

.popular-category-link:active img {
  opacity: 0.3;
}

.popular-category-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.services {
  display: flex;
  justify-content: center;
  min-height: 388px;
  margin: 0;
  margin-top: 72px;
  padding: 0;

  background-color: #e5e5e5;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAADElEQVQImWP4//8/AAX+Av5Y8msOAAAAAElFTkSuQmCC');
  background-size: 100% 100px;
  background-repeat: no-repeat;
}

.services ul {
  width: 277px;
  height: 239px;
  padding: 0;
  padding-top: 80px;
  margin: 0;
  border-right: 7px solid #000000;
  list-style: none;
}

.services li {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.button-service-current {
  cursor: default;
}

.button-service-current::before {
  top: 0;
  
  height: 40px;
}

.button-service,
.button-service::before {
  width: 160px;
}

.button-service-current,
.services .button-service:active {
  color: #f0c52e;
}

.button-service-current::before,
.button-service:active::before {
  width: 277px;

  background-color: #000000;
}

.service {
  display: none;
  box-sizing: border-box;

  width: 875px;
  padding-left: 115px;
  padding-right: 334px;
  padding-bottom: 30px;
}

.service-icon-delivery {
  background-image: url('../img/delivery.svg');
  background-repeat: no-repeat;
  background-position: 672px 85px;
}

.service-icon-warranty {
  background-image: url('../img/warranty.svg');
  background-repeat: no-repeat;
  background-position: 657px 63px;
}

.service-icon-credit {
  background-image: url('../img/credit.svg');
  background-repeat: no-repeat;
  background-position: 648px 63px;
}

.service h2 {
  margin: 73px 0 31px 0;

  font-family: 'Gilroy-ExtraBold', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.service p {
  margin: 0;
}

.current-service {
  display: block;
}

.brands ul {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  padding-top: 94px;
  padding-bottom: 93px;

  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;
}

.brands a {
  display: block;
  width: 260px;
  height: 100px;

  background-color: #e5e5e5;
  filter: grayscale(100%);
  opacity: 0.2;
}

.brands a:hover,
.brands a:focus {
  filter: grayscale(0%);
  opacity: 1;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  padding: 0 10px;
  padding-bottom: 81px;
}

.index-columns section {
  
  display: flex;
  position: relative;
  flex-direction: column;
}

.index-columns section::before {

  position: absolute;
  top: 0;
  content: '';
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.index-columns .about {
  width: 475px; /* ROUND? */
}

.index-columns .contacts {
  width: 560px;
}

.index-columns h2 {
  margin-top: 52px;
  margin-bottom: 28px;
  margin-left: -3px;

  font-family: 'Gilroy-ExtraBold', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.7px;
  color: #000000;
}

.index-columns p {
  margin-left: -2px;

  color: #464646;
  letter-spacing: normal;
}

.about ul {
  margin: 51px 0 55px 0;
  padding: 0;
}

.about li {
  position: relative;
  font-family: 'Gilroy-ExtraBold', Arial, sans-serif;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  color: #000000;
  padding-left: 34px;
}

.about li::before { /* BULLET MARKER */
  position: absolute;
  top: 45%;
  left: 0;
  content: '';
  width: 5px;
  height: 5px;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
}

.index-columns .button {
  margin-top: auto; /* PUSH TO BOTTOM */
  align-self: flex-start;
  color: #464646;
}

.index-columns img.map {
  margin-top: 24px;
  background-color: #e9e8e9;
}

/* PRODUCTS MAIN */
.page {
  width: 100%;
}

.page-catalog h1 {
  margin: 0;
  margin-top: 38px;
  margin-left: 60px;

  font-family: 'Gilroy-ExtraBold', Arial, sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.crumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 45px;
  margin-left: 60px;
  
  list-style: none;
  font-family: 'OpenSans-Light', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.crumbs li {
  position: relative;

  margin-right: 37px;
}

.crumbs li:last-child {
  margin-right: 0;
}

.crumbs li:last-child::after {
  display: none;
}

.crumbs li::after {

  position: absolute;
  top: 9px;
  right: -20px;
  content: '';

  width: 4px;
  height: 7px;

  background-color: #ffffff;
  background-image: url('../img/nav-arrow.svg');
}

.crumbs a {
  font: inherit;
  color: rgba(0, 0, 0, 0.3);
}

.crumbs a:hover,
.crumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.crumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

/* PRODUCTS CATALOG */
.stretch {
  display: flex;
  justify-content: center;
  width: 100%;
}

.stretch::before,
.stretch::after {
  content: '';
  flex-grow: 1;
}

.stretch-captions::before {
  background-color: #dbdadb;
}

.stretch-captions::after {
  background-color: #ebeaeb;
}

.stretch-catalog::before {
  background-color: #efeeef;
}

.stretch-captions {
  min-height: 70px;
  align-items: stretch;
}

.filters-caption,
.sorting-caption {
  margin: 0;

  font-family: 'Gilroy-ExtraBold', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 3.6px; /* ORIGINALLY - 3.2 */
  text-transform: uppercase;
}

.filters-caption {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  width: 268px;
  padding-left: 60px;
  
  align-items: center;

  background-color: #dbd9db;
}

.sorting {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  width: 832px;

  align-items: center;
  
  background-color: #ebeaeb;
}

.sorting-options {
  display: flex;

  max-width: 450px;
  margin: 0;
  padding: 0;

  flex-wrap: wrap;

  list-style: none;
}

.sorting-options li {
  margin-right: 30px;
  margin-bottom: 5px;
}

.sorting-options a {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;

  color: #000000;
}

.sorting a {
  color: rgba(0, 0, 0, 0.3);
}

.sorting a[href]:hover,
.sorting a[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting a[href]:active {
  color: rgba(0, 0, 0, 1);
}

.sorting .sort-current,
.sorting .sorting-direction-current {
  color: rgba(0, 0, 0, 1);
  opacity: 1;

  cursor: default;
}

.sorting-caption {
  margin-left: 72px;
  margin-right: 50px;
}

.sorting-direction {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 41px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.sorting-direction-ico {
  display: block;
  width: 11px;
  height: 10px;

  opacity: 0.2;
}

.sorting-direction-ico:hover,
.sorting-direction-ico:focus {
  opacity: 0.4;
}

.sorting-direction-ico:active,
.sorting-direction .sorting-direction-ico__current {
  opacity: 1;
}

.sorting-direction-ascending {
  background-image: url('../img/icon-up-dir.svg');
}

.sorting-direction-descending {
  background-image: url('../img/icon-down-dir.svg');
}

.filters-container {
  flex-grow: 0;
  flex-shrink: 0;
  width: 328px;

  color: #000000;

  background-color: #efeeef;
}

.filters {
  width: 201px;
  padding: 0;
  margin: 0;
  margin-right: 68px;
  margin-left: auto;
  padding-top: 69px;
}

.filters fieldset {
  position: relative;

  padding: 0;
  padding-top: 60px;
  margin: 0;
  padding-bottom: 23px;

  border: none;
  border-top: 2px solid #000000;
}

.filters legend {
  position: absolute;
  top: 10px;

  font-family: 'Gilroy-ExtraBold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.price-range {
  position: relative;
  margin-top: 10px;
  margin-bottom: 14px;
}

.price-range .scale {
  height: 2px;

  background: #dbdbdb;
}

.price-range .bar {
  width: 56%;
  height: 100%;

  background: #91c92f;
}

.range-toggle {
  position: absolute;
  top: -10px;
  
  box-sizing: border-box;
  width: 20px;
  height: 20px;

  background: #abaaab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #dad9da;

  cursor: pointer;
}

.range-toggle-min {
  left: -5px;
}

.range-toggle-max {
  left: 53%;
}

.range-label {
  position: relative;
  top: 5px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.2);
}

.range-label-max {
  left: 29.5%;
}

.filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters li {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  padding-left: 39px;
}

.filter-label {
  
  display: block;
  position: relative;
  height: 300%;

  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.1px;

  cursor: pointer;
  user-select: none;
}

.filter-checkbox:focus + .filter-label::before,
.filter-radio:focus + .filter-label::before {
  opacity: 0.6;
}

.filter-checkbox + .filter-label::before {
  position: absolute;

  top: 0;
  left: -40px;
  content: '';

  width: 27px;
  height: 23px;

  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-checkbox:checked + .filter-label::before {
  background-image: url('../img/checkbox-on.svg');
}

.filter-radio + .filter-label::before {
  position: absolute;

  top: -1px;
  left: -40px;
  content: '';

  width: 25px;
  height: 25px;
  
  background-image: url('../img/radio-off.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-radio:checked + .filter-label::before {
  background-image: url('../img/radio-on.svg');
}

.filter-option input:disabled + span.filter-label::before,
.filter-option input:disabled + span.filter-label {
  opacity: 0.25;
  cursor: default;
}

.filter-option:hover .filter-label::before {
  opacity: 0.6;
}

.filters button {
  width: 100%;
}

/* PRODUCTS CATALOG */

.catalog {
  flex-grow: 0;
  flex-shrink: 0;
  width: 760px;
  padding: 24px 0 78px 72px;
}

.catalog-list {
  display: flex;

  padding: 0;
  margin: 0;

  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item {

  display: flex;
  position: relative;
  
  margin-top: 45px;
  width: 360px;
  flex-direction: column;
  list-style: none;
}

.catalog-item .wrapper {
  display: flex;
  order: 2;

  margin-top: 32px;

  justify-content: space-between;
  align-items: flex-start;
}

.catalog-item h3 {
  margin: 0;

  font-family: 'Gilroy-ExtraBold', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.catalog-item a {
  color: #000000;
}

.catalog-item .price {
  min-width: 100px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: right;
  color: #464646;
}

.catalog-item img {
  background-color: #efeeef;
}

.catalog-item .show-on-hover {
  display: none;
  position: absolute;
}

.catalog-item:hover .show-on-hover,
.catalog-item:focus-within .show-on-hover {
  display: block;
}

.button-add-to-cart {
  display: none;
  position: absolute;

  top: 170px;
  left: 50%;
  z-index: 2;
  transform: translate(-50%);
  width: 200px;
  margin: 0 auto;
}

.button-add-to-comparison {
  display: none;
  position: absolute;

  top: 229px;
  left: 50%;
  z-index: 2;
  transform: translate(-50%);
  padding: 0;
  margin: 0 auto;
  border: none;

  font-size: 13px;
  line-height: 13px;
  color: rgba(0, 0, 0, 0.5);

  background: none;
  cursor: pointer;
}

.button-add-to-comparison:hover,
.button-add-to-comparison:focus {
  color: rgba(0, 0, 0, 1);
}

.button-add-to-comparison:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-item .overlay {
  display: none;
  position: absolute;
  z-index: 1;

  width: 360px;
  height: 380px;
  background-color: #eeeeee;
  opacity: 0.7;
}

.catalog-item-new {
  position: relative;
}

.catalog-item-new::before {

  position: absolute;
  top: 29px;
  right: 27px;
  content: 'NEW';

  width: 57px;
  height: 57px;

  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  text-align: center;
  line-height: 57px;

  font-family: 'Gilroy-ExtraBold', Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.7px;
  color: rgba(0, 0, 0, 0.1);
}

.pagination-list {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: stretch;

  min-height: 70px;
  padding: 0;
  margin: 0;
  margin-top: 36px;
  
  list-style: none;
  background-color: #ebeaeb;
}

.pagination-list a {
  display: block;
  padding: 29px 15px 25px 15px;

  font-family: 'Gilroy-ExtraBold', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  text-align: center;
}

.pagination-page a[href] {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-page a[href]:hover,
.pagination-page a[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-page a[href]:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-prev {
  position: absolute;
  left: 0;
}

.pagination-next {
  position: absolute;
  right: 0;
}

.pagination-prev > a,
.pagination-next > a {
  padding-left: 30px;
  padding-right: 30px;
}

.pagination-prev a[href]:hover,
.pagination-next a[href]:hover,
.pagination-prev a[href]:focus,
.pagination-next a[href]:focus {
  background-color: #d9d8d9;
}

.pagination-prev a[href]:active,
.pagination-next a[href]:active {
  background-color: #d9d8d9;
  color: #acabac;
}

/* FOOTER */

.main-footer {
  width: 100%;
  min-height: 260px;
  padding-top: 63px;

  color: #ffffff;

  background-color: #464646;
}

.main-footer li {
  list-style: none;
}

.main-footer .container {
  padding: 0 10px;
}

.main-footer a {
  color: #ffffff;
}

.services-nav-footer {
  display: flex;
  order: 2;

  width: 427px;
  padding: 0;
  padding-top: 5px;
  margin: 0;

  justify-content: space-between;
  flex-wrap: wrap;

  font-family: 'Gilroy-ExtraBold', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.footer-contacts-address {
  order: 1;
}

.footer-contacts-phone {
  order: 3;

  text-align: end;
}

.footer-contacts {
  width: 210px;
  letter-spacing: normal;
}

.footer-logo { /* PIXEL-PERFECT ADJUSTMENTS */
  margin-top: 2px;
  margin-left: -2px;
}

.services-nav-footer a:hover,
.services-nav-footer a:focus,
.footer-logo[href]:hover,
.footer-logo[href]:focus,
.credentials-logo:hover,
.credentials-logo:focus {
  opacity: 0.6;
}

.services-nav-footer a:active,
.footer-logo[href]:active,
.credentials-logo:active {
  opacity: 0.3;
}

.row-footer-usernav a {
  color: rgba(255, 255, 255, 0.7);
}

.row-footer-usernav a:hover,
.row-footer-usernav a:focus {
  color: rgba(255, 255, 255, 1);
}

.row-footer-usernav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.row-footer-usernav a.dimmed {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer .row-footer-usernav {
  align-items: flex-start;
}

.main-footer .row-footer-services {
  margin-top: 5px;
}

.row-footer-social {
  margin-top: 47px;
  align-items: flex-start;
}

.row-footer-social::before {
  content: '';
  width: 80px;
  height: 7px;
  margin-top: 14px;

  background-color: #ffc600;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  width: 142px;
  margin: 0;
  margin-top: 2px;
  padding: 0;
}

.footer-social a {
  opacity: 0.3;
}

.footer-social a:hover,
.footer-social a:focus {
  opacity: 0.6;
}

.footer-social a:active {
  opacity: 0.1;
}

.credentials-logo img {
  margin-left: 53px;
}

/* MODALS */

.modal {
  display: none;
  position: fixed;
  z-index: 2; /* TEST ON MONOPODS PAGE */
  
  width: 960px;
  
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

@keyframes slidein {
  from { transform: translate(-50%, -100%); }
  to { transform: translate(-50%, -50%); }
}

.modal-show {
  display: block;

  animation: slidein 0.2s;
}

.modal-feedback {
  top: 40%;
  left: 50%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);

  padding: 95px 100px 80px 100px;

  background-color: #ffffff;
}

.modal-feedback p {
  margin: 0;
  padding: 0;
}

.modal-feedback label {
  display: block;

  margin-bottom: 6px;

  font-family: 'Gilroy-ExtraBold', Arial, sans-serif;
  font-size: 17.5px;
  font-weight: bold;
  line-height: 24.5px;
  letter-spacing: normal;
  color: #000000;
}

.modal-feedback input,
.modal-feedback textarea {
  margin: 0;
  padding: 15px 20px;
  
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #464546;

  background-color: #f2f1f2;
  border: 3px solid transparent;
  outline: none;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
  background-color: #eae9ea;
}

.modal-feedback input:focus,
.modal-feedback textarea:focus {
  background-color: #ffffff;
  border-color: #f0c52e;
}

.modal-feedback input {
  height: 14px;
  width: 314px;
  margin-bottom: 32px;
}

.modal-feedback textarea {
  width: 714px;
  min-height: 120px;
  margin-bottom: 37px;
}

.modal-feedback .js-invalid {
  background-color: #edb5b5;
  border-color: #edb5b5;
}

.modal-feedback button[type='submit'] {
  width: 200px;
}

.modal-map {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-map iframe {
  display: block;

  border: 0;

  background-color: #e9e8e9;
}

.modal-close {

  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;
  padding: 0;
  margin: 0;

  font-size: 0;

  border: 0;
  border-radius: 50%;

  background-color: #f0c52e;
  opacity: 0.5;

  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-close::before,
.modal-close::after {

  position: absolute;
  top: 26px;
  left: 11px;
  content: '';

  width: 32px;
  height: 2px;

  background-color: #ffffff;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}
