{
  "extends": "stylelint-config-standard",
  "rules": {
    "no-descending-specificity": null,
    "declaration-empty-line-before": null,
    "color-hex-length": "long",
    "no-eol-whitespace": [
      true,
      {
        "ignore": [
          "empty-lines"
        ]
      }
    ]
  }
}